* { box-sizing: border-box;}

.zombie-attack {
  width: 521px;
  height: 576px;
  background-image: url("sprite-attack.png");
  animation: attack 1s steps(8) infinite; /* , move 5s steps(100) infinite; */
}

@keyframes attack {
  100% { background-position: -4168px; }
}

@keyframes move {
  100% { margin-left: 521px; }
}
